<div id="bookListWrapper">
    <form role="form">
        <div class="form-group">
            <input ng-model="searchBook" type="text" class="form-control" placeholder="Search here ... ">

        </div>
    </form>

    <div>
        <ul class="list-unstyled">
            <li class="book" ng-repeat="book in books | filter:searchBook">
                <img src="{{book.imgUrl}}" alt="{{book.name}}" class="book-image">
                <div class="book-details clearfix">
                    <h3>{{book.name}}</h3>
                    <p>{{book.price | currency:"Rs."}}</p>
                    <ul class="list-unstyled list-inline">
                        <li>{{book.rating}}</li>
                        <li>{{book.binding | uppercase}}</li>
                        <li>{{book.publisher}}</li>
                        <li>{{book.releaseDate}}</li>
                    </ul>
                    <p>{{book.details}}</p>
                    <button class="btn btn-info pull-right" ng-click="addtoCart(book)">ADD TO CART</button>
                </div>
            </li>
        </ul>
    </div>
</div>